<table class="striped">
    <thead>
        <td>
            <!-- Create user-->
            <!-- Modal Trigger -->
            <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Add New user</a>
        </td>
        <td>
            <a class="waves-effect waves-light btn modal-trigger" href='/v1/auth/logout'>LOGOUT</a>
        </td>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <form method="POST" action="/v1/users">
                    <div class="row">
                        <div class="input-field col s6">
                            <input placeholder="email" name="email" type="email">
                            <input placeholder="user Full Name" name="fullName" type="text">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;">Cancel</a>
                        <input type="submit" value="Create">
                    </div>
                </form>
            </div>
        </div>
        <tr>
            <th>#</th>
            <th>email</th>
            <th></th>
            <th>full name</th>
            <th></th>
        </tr>
    </thead>
    <% if(users !== null){ %>
        <tbody>
            <% for( i = 0; i < users.length; i++){ %>
                <tr>
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= users[i].email %>
                    </td>
                    <td>
                        <!-- UPDATE user-->
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal2 <%=i%>">update</a>
                    </td>
                    <!-- Modal Structure -->
                    <div id="modal2 <%=i%>" class="modal">
                        <div class="modal-content">
                            <form method="POST" action="/v1/users?_method=PUT">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="hidden" placeholder="userID" name="id" value="<%= users[i]._id %>">
                                        <input placeholder="user Full Name" name="fullName" value="<%= users[i].fullName%>" type="text">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;">Cancel</a>
                                    <input type="submit" value="update">
                                </div>
                            </form>
                        </div>
                    </div>
                    <td>
                        <%= users[i].fullName %>
                    </td>
                    <td>
                        <!-- DELETE user-->
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn modal-trigger" href="#modal3<%=i%>">delete</a>
                    </td>
                    <!-- Modal Structure -->
                    <div id="modal3<%=i%>" class="modal">
                        <div class="modal-content">
                            <p>
                                User "
                                <%= users[i].fullName %>" will be deleted, you confirm this action ?
                            </p>
                            <form method="POST" action="/v1/users?_method=DELETE">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input type="hidden" placeholder="userID" name="id" value="<%= users[i]._id %>">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <a class="modal-close waves-effect waves-green btn-flat" style="background-color: #26a69a;">Сancel</a>
                                    <input type="submit" value="delete">
                                </div>
                            </form>
                        </div>
                    </div>
                </tr>
                <% } %>
        </tbody>
        <% } %>
</table>
